.menu {
  width: 44%;
  margin-top: 8px;
}

.menu__item {
  margin-top: 28px;
  position: relative;
}

.menu__link {
  text-decoration: none;
  color: #221f1f;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  padding-left: 36px;
  transition: color .3s;
}

.menu__item:hover .menu__link {
  color: #f89513;
  transition: color .3s;
}

.menu__icon {
  width: 20px;
  height: 18px;
  background: center center no-repeat;
  display: inline-block;
  position: relative;
}

.menu__item:hover .menu__icon::before {
  opacity: 1;
}

.menu__item:hover .menu__icon::after {
  opacity: 0;
}

.menu__icon::after {
  content: "";
  width: 20px;
  height: 18px;
  position: absolute;
  top: 5px;
  left: 23px;
  display: block;
  opacity: 1;
  transition: opacity .3s;
}

.menu__icon::before {
  content: "";
  width: 20px;
  height: 18px;
  position: absolute;
  top: 3px;
  left: 23px;
  display: block;
  background: url(../../icons/sprite.png) -244px -10px;
  opacity: 0;
  transition: opacity .3s;
}

.menu__icon_main::after {
  background: url(../../icons/sprite.png) -166px -10px;
}

.menu__icon_main::before {
  background: url(../../icons/sprite.png) -244px -10px;
}

.menu__icon_services::after {
  background: url(../../icons/sprite.png) -205px -10px;
}

.menu__icon_services::before {
  background: url(../../icons/sprite.png) -324px -10px;
}

.menu__icon_review::after {
  background: url(../../icons/sprite.png) -284px -10px;
  top: 3px;
}

.menu__icon_review::before {
  background: url(../../icons/sprite.png) -364px -10px;
}

.menu__item_active .menu__link {
  color: #f89513;
}

.menu__item_active .menu__icon::before {
  opacity: 1;
}

.menu__item_active .menu__icon::after {
  opacity: 0;
}