.paginator {
  margin-top: 39px;
  margin-bottom: 52px;
  width: 100%;
}
.paginator__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.paginator__display {
  color: #656464;
  font-size: 14px;
  margin-right: 20px;
  width: 19%;
  text-align: right;
 }
.paginator__controlls {
  display: flex;
  justify-content: flex-start;
  width: 45%;
}

.paginatop__prev {
  text-decoration: none;
  color: #656464;
}
.paginator__list {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.paginator__link {
  color: #221f1f;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.paginator__link:hover {
  color: #f89513;
}

.paginator__next {
  text-decoration: none;
  font-weight: bold;
  color: #221f1f;
}

.paginator__link_active {
  background-color: #27273e;
  padding: 2px 8px;
  border: 1px solid #27273e;
  border-radius: 3px;
  color: #fff;
}

.paginator__link_active-reviews {
  background-color: #131415;
  color: #f89513;
}