.partners__container {
  padding-bottom: 33px;
}
.partners h2 {
  color: #221f1f;
  font-size: 49px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 85px;
}
.partners__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
  
 }
.partners__item {
  width: 300px;
  padding-bottom: 50px;
}
.partners__logo {
  width: 160px;
  height: 90px;
  margin: 0 auto;
  filter: grayscale(100%);
}
.partners__logo_s {
  width: 60px;
}
.partners__logo_sm {
  width: 43px;
}
.partners__logo:hover {
  cursor: pointer;
  filter: grayscale(0);
}
