.partners {
  width: 98%;
  align-self: flex-start;
}
.partners__container {
  width: 100%;
  padding: 25px;
  border: 1px solid #000;
  margin-top: 34px;
}
.partners__title {
padding-bottom: 45px;
  font-size: 18px;
  text-align: center;
}
.partners__list {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
 }
.partners__item {
  flex: 1 0 266px;
  margin-bottom: 50px;
  padding-top: 7px;
}
.partners__item_no-padding {
  padding: 0;
}
.partners__link {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
}

.partners__link:hover {
  cursor: pointer;
  filter: grayscale(0);
}
.partners__pict {
  max-width: 100%;
  max-height: 100%;
}
