.partners__container {
  padding-bottom: 33px;
}
.partners__title {
  padding-bottom: 71px;
  margin-left: 90px;
}
.partners__list {
  display: flex; 
  flex-wrap: wrap;
  width: 100%;
 }
.partners__item {
  flex: 1 0 266px;
  margin-bottom: 50px;
}
.partners__link {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
}

.partners__logo:hover {
  cursor: pointer;
  filter: grayscale(0);
}
.partners__pict {
  max-width: 100%;
  max-height: 100%;
}
