.reviews__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.reviews {
  color: #000;
  line-height: normal;
}

.reviews h2 {
  align-self: flex-start;
  padding-left: 92px;
  color: #221f1f;
  font-size: 49px;
  font-weight: bold;
  text-transform: uppercase;
}

.reviews__item {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #f5f5f5;
  padding: 37px 0;
  width: 880px;
}

.reviews__avatar {
  margin-right: 20px;
}

.reviews__avatar_no-photo {
  height: 160px;
  padding: 0 79px;
  background-color: #000;
  /* border: 1px solid ; */
  background: url(../../img/afrodita.png) center center no-repeat;
  opacity: 0.3;
  border-radius: 100%;
  margin-right: 20px;
}

.reviews__desc_bigger {
  width: 694px;
}

.reviews__desc time {
  text-decoration: none;
  font-size: 14px;
  color: #656464;
}

.reviews__desc h3 {
  font-weight: bold;
  font-size: 21px;
}

.reviews__desc p {
  font-weight: 300;
  font-size: 18px;
  margin: 0;
}

.reviews__item_no-border {
  border: none;
}