.reviews {
  color: #000;
  line-height: normal;
}
.reviews__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.reviews__title {
  align-self: flex-start;
  padding-left: 24px;
}
.reviews__list {
  width: 95%;
}

.reviews__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 0;
  border-bottom: 2px solid #f5f5f5;
}
.reviews__appearance {
  width: 22%;
}

.reviews__avatar {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
}
.reviews__avatar-picture {
  display: block;
  max-width: 100%;
}

.reviews__avatar_no-photo {
  min-height: 160px;
  padding: 0 79px;
  background: url(../../img/afrodita.png) center center no-repeat rgba(0, 0, 0, .2);
  opacity: 0.3;
}

.reviews__desc {
  width: 80%;
  line-height: 1.8em;
}

.reviews__desc time {
  text-decoration: none;
  font-size: 14px;
  color: #656464;
}

.reviews__desc h3 {
  font-weight: bold;
  font-size: 21px;
}

.reviews__desc p {
  font-size: 18px;
  margin: 0;
}

.reviews__item_no-border {
  border: none;
}