.schedule__btn {
  display: block;
  color: rgba(248, 149, 19, .7);
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 14px;
  text-align: right;
}
.schedule__btn:hover {
  color: rgba(250, 250, 250, 0.7);
  text-decoration: underline;

}
.schedule__wrapper {
  overflow: hidden;
  height: 0;
  width: 160px;
  transition: height 0.5s;
}
.schedule__block {
  margin-top: 15px;
  background-color: #fff;
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 14px;
  padding: 13px 19px;
}
.schedule__block::before {
content: '';
position: absolute;
width: 0;
height: 0;
top: -15px;
right: 0;
border-color: transparent transparent #fff transparent; 
border-style: solid;
border-width: 0 15px 15px 15px;
}
.schedule:hover .schedule__wrapper {
height: 81px;
}
.schedule__block-days {
  color: #f89513;
  font-weight: bold;
}
