.social-net {
  margin-top: 27px;
}
.social-net_main-p {
  margin-top: 40px;
}

.social-net__title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 7px;
  color: #221f1f;
}
.social-net__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.social-net__item {
  padding: 9px 10px;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-color: #d4d4d8;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .3s;
}

.social-net__item:first-child {
  background: url(../../icons/sprite.png) -95px -4px;
}

.social-net__item:nth-child(2) {
  background: url(../../icons/sprite.png) -3px -7px;
}

.social-net__item:nth-child(3) {
  background: url(../../icons/sprite.png) -129px -5px;
}

.social-net__item:nth-child(4) {
  background: url(../../icons/sprite.png) -31px -5px;
}

.social-net__item:last-child {
  background: url(../../icons/sprite.png) -63px -5px;
}

.social-net__item:hover {
  background-color: #f89513;
  transition: background-color .3s;
}