.social-net {
  width: 62%;
  margin-top: 58px;
}
.social-net_services {
  margin-top: 41px;
}
.social-net__title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #221f1f;
}
.social-net__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
}
.social-net__item {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  /* background-position: center center; */
}

.social-net__item:first-child {
  background: url(../../icons/sprite.png) -99px -10px;
}

.social-net__item:nth-child(2) {
  background: url(../../icons/sprite.png) -10px -10px;
}

.social-net__item:nth-child(3) {
  background: url(../../icons/sprite.png) -131px -10px;
}

.social-net__item:nth-child(4) {
  background: url(../../icons/sprite.png) -36px -10px;
}

.social-net__item:last-child {
  background: url(../../icons/sprite.png) -67px -10px;
}

.social-net__item:hover {
  background-color: #f89513;
  border: 1px solid #f89513;
}