.top-news {
  text-align: center;
  color: #000;
  line-height: 0;
  margin-top: 71px;
  width: 100%;
}
.top-news__title {
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-size: 12px;
  letter-spacing: 0.2em;
}

.top-news__month {
  display: inline-block;
  margin-bottom: 29px;
}
.top-news__item {
  margin-bottom: 21px;
}
.top-news__name {
  color: #221f1f;
  font-size: 12px;
  text-transform: uppercase;
}

.top-news__month {
  color: #221f1f;
  font-size: 12px;
  text-transform: uppercase;
  color: #656464;
  text-decoration: none;
  letter-spacing: 0.2em;
}
.top-news__link {
  width: 100%;
}
.top-news__link-picture {
  width: 61%;
}
