.waiting {
  background-color: #131415;
}
.waiting__container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: url(../../img/bg-waiting.png) center center #131415;
  padding: 23px 0;
}
.waiting__text {
  color: #fff;
  width: 59%;
  line-height: 1.9em;
}
.waiting__text_colored {
  text-decoration: none;
  color: #f89513;
  font-weight: bold;
}